@font-face {
  font-family: 'arcade';
  src: url('ARCADE_N.TTF') format('truetype');
}

.inputwrap {
  position: absolute;
  top: 480px;
  left: 320px;
}

.hidden {
  display: none;
}

.inputwrap textarea {
  resize: none;
  border: none;
  color: #4f4f4f;
  background: none;
  outline: none;
  position: relative;
  font: 16px 'arcade', 'SeanRegular', Courier New, Courier New, Courier6,
    monospace;
  letter-spacing: 1px;
  font-size: 2em;
  width: 6em;
  left: 32px;
}

.inputwrap textarea:focus {
  border-bottom: 1px dashed #000;
  -webkit-transition: border 0.3s ease-in;
  -moz-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
}
